{% extends "base.html" %} {% block title %}Diary Book - Register{% endblock %}
{%load static%} {% block head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />

{% endblock %} {% block content %}

<main class="form-signin w-100 m-auto">
  <form method="POST">
    {% csrf_token %}
    <h2 class="h3 mb-3 fw-normal">Register To Our App</h2>
    {% for field in form %}
      {% if field.errors %}
        <div class="alert alert-danger">{{ field.errors }}</div>
      {% endif %}
    {% endfor %} 
    {% for field in form %} 
      {{ field }} 
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign Up</button>
    <a href="{% url 'login' %}">Already have account? Logging in.</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>

{% endblock %}
